 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anime Corner</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" type="image/ico" href="logo.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <li><a href="#">Browse</a></li>
        <li><a href="/users/login">Member Login</a></li>
        <li><a href="/users/register">Register</a></li>
        <form class="form-inline" id="search_form" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" id="search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" for="search">Search</button>
        </form>
    </nav>
        <div class="front-image">
            <img src="/banner.png">
        </div>  


     <div id='search_results' class="wrapper-items">

    </div>



<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>