 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anime Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="icon" type="image/ico" href="ninja.svg"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">


     
</head>
<body>
      <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
        <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users/login">Member Login</a></li>
        <li><a href="/users/register">Register</a></li>
        </ul>
        </div>
    </nav>
    <div class="front-image">
         <img src="/banner.png">
    </div> 

    <form  id="search_form" >
    <div class="container">
        <input placeholder='Search...' class='js-search' type="text" name="search" id="search">
        <i class="fa fa-search"></i>
    </div>
    </form>



    <div class="row" id='search_results'>

     </div>

<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>